<div class="box box-info">
    <!--div class="box-header with-border">
		<section class="content-header">
			<h1>
				Cat&aacute;lagos - 
				<small>Departamentos</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
				<li><a>Cat&aacute;logos</a></li>
				<li ui-sref="menuMaster.listDepts()">Departamentos</li>
				<li class="active">Mantenimiento</li>
			</ol>
		</section>
    </div -->
    <!-- Standard HTML form, with the submit function bound to the register() function defined in the the controller -->
    <form name="regForm" class="form-horizontal" ng-submit="registerTpmasc()">
      <div class="box-body">
		<div ng-include="'partials/ctg/ctg_tpmascota/formTPmascota.html'"></div>
      </div>
      <div class="box-footer">
      	<input type="submit" ng-disabled="regForm.$invalid" id="register" value="Guardar" class="btn btn-primary pull-right" />
        <a class="btn btn-danger" ui-sref="menuMaster.listTPmascota">Salir</a>
      </div>
    </form>


</div>
