<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<!--section class="content-header">
  <h1>
	Cat&aacute;lagos - 
	<small>Departamentos</small>
  </h1>
  <ol class="breadcrumb">
	<li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
	<li><a href="#">Cat&aacute;logos</a></li>
	<li class="active">Departamentos</li>
  </ol>
</section -->
<div class="box">
	<div class="box-header">
    	<h3 class="box-title">Listado de tipo de mascotas</h3>
    </div>	
	<div class="box-body" ng-controller="tpmascTableCtrl as showCase">
		<em ng-show="showCase.tpmasc.length == 0">No existen datos de tipo de mascota</em>
        <table datatable="ng" id="tpmascTable" dt-options="showCase.dtOptions" 
        dt-columns="showCase.dtColumnsDefs" ng-hide="showCase.tpmasc.length == 0" 
        class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripcion</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tpmasc in showCase.tpmasc">
                    <td>{{ tpmasc.id }}</td>
                    <td>{{ tpmasc.descripcion }}</td>
                     <td align="center">
						<label ng-if=" tpmasc.estado=='A'"><font color="green"><i class="fa fa-check"></i></font></label>
						<label ng-if=" tpmasc.estado=='I'"><font color="red"><i class="fa fa-close"></i></font></label>
					</td>
                    <td>
                        <button class="btn btn-danger btn-xs" ng-click="showCase.deleteTpmasc(tpmasc.id)"><i class="fa fa-trash-o"></i></button>
                        <button class="btn btn-warning btn-xs" ng-click="showCase.editTpmasc(tpmasc.id)"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-primary btn-xs" ng-click="showCase.activateTpmasc(tpmasc.id)"><i class="fa fa-check"></i></button>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        <a ui-sref="menuMaster.home" class="btn btn-danger pull-left">Salir</a>
    	<a ui-sref="menuMaster.addTPmascota" class="btn btn-info pull-right">Nuevo</a>
    </div>
</div>
</html>