<div class="box">
	<div class="box-header">
    	<h3 class="box-title">Listado de &Aacute;rea</h3>
		<em ng-show="areas.length == 0">No existen datos de &Aacute;rea.</em>
    </div>	
	<div class="box-body table-responsive no-padding">
        <table ng-hide="areas.length == 0" class="table table-hover">
            <tr>
                    <th>ID</th>
                    <th>DESCRIPCI&Oacute;N</th>
                    <th>CREACI&Oacute;N</th>
                    <th>USUARIO CREACI&Oacute;N</th>
                    <th>MODIFICACI&Oacute;N</th>
                    <th>USUARIO MODIFICACI&Oacute;N</th>
                    <th></th>
            </tr>
            <!-- The table is built using the AngularJS repeat function, iterating over the members variable, and ordering by the property specified in the orderBy variable -->
            <tr ng-repeat="area in areas | orderBy:orderBy">
                <td>{{area.idArea}}</td>
                <td>{{area.descArea}}</td>
                <td>{{area.fecCrAu | date:'d/M/yyyy HH:mm:ss'}}</td>
                <td>{{area.usrCrAu}}</td>
                <td>{{area.fecLstmodAu | date:'d/M/yyyy HH:mm:ss'}}</td>
                <td>{{area.usrLstmodAu}}</td>
                <td>
            	<button class="btn btn-danger btn-xs"  ng-click="deleteArea(area.idArea)"><i class="fa fa-trash-o"></i></button>
                <button class="btn btn-warning btn-xs" ng-click="modifyArea(area.idArea)"><i class="fa fa-edit"></i></button>
                </td>
        </table>
    </div>
    <div class="box-footer">
    	<input type="button" ng-click="refresh()" name="refresh" id="refresh" value="Refresh" class="btn btn-default" />
    	<a ui-sref="menuMaster.addArea()" class="btn btn-info pull-right">Nuevo</a>
    </div>
</div>