<fieldset>

	<div class="login-box col-md-4 col-md-offset-4 ">
		<!-- /.login-logo -->
		<div class="login-box-body text-center ">
			<div>
				<img src="img/kraken_morado.png" alt="Powered by Grupo Infinity" width="95px" height="95px">
			</div>
			<p class="login-box-msg"> <label style="color:#0CA5CD;font-size:24px;">Cambio de clave</label></p>
			<p style="color:#888;">Ingrese la nueva contraseña o si quiere mantener la anterior solo digitela aqui</p>
			<div class="col-sm-8 col-sm-offset-2">
				<div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }"
					ng-if="flash" ng-bind="flash.message"></div>
			</div>
			<form ng-submit="editC()" role="form">
				<div class="form-group has-feedback">
					<input type="text" name="clave" id="clave" ng-model="newClave.clave" required
						ng-change="verificarClaves()" class="form-control" placeholder="Ingrese la clave que desea">
					<span class="glyphicon glyphicon-user form-control-feedback"></span>
					<span ng-show="form.clave.$dirty && form.clave.$error.required" class="help-block">Clave requerida</span>
				</div>
			
				<div class="form-group has-feedback">
					<input type="text" name="claved" id="claved" ng-model="newClave.clavedos" required
						ng-change="verificarClaves()" class="form-control" placeholder="Digitela de nuevo">
					<span class="glyphicon glyphicon-user form-control-feedback"></span>
					<span ng-show="form.claved.$dirty && form.claved.$error.required" class="help-block">Clave requerida</span>
				</div>
			
				<div ng-show="!clavesCoinciden" class="help-block">Las claves no coinciden.</div>
			
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<button type="submit" class="btn btn-primary btn-block btn-sm pull-right" ng-disabled="!clavesCoinciden">
							Confirmar <i class="fa fa-sign-in"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>


</fieldset>