<!-- <div class="box">
	<!-- <div class="box-header" ng-controller="UsuarioListCtrl as showCase"> 
    	<h3 class="box-title">Listado de Usuario</h3>
		<em ng-show="usuario.length == 0">No existen datos de usuario.</em>
    </div>	
	<div class="box-body table-responsive no-padding">
        <table ng-hide="usuario.length == 0" class="table table-hover"> -->
 <div class="box">
	<div class="box-header">
    	<h3 class="box-title">Listado de Usuario</h3>
    </div>	
	<div class="box-body" ng-controller="UsuarioListCtrl as showCase">
     	<em ng-show="showCase.usuario.length == 0">No existen opciones</em>
        <table datatable="ng" id="usuarioTable" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumnsDefs" ng-hide="showCase.usuario.length == 0" class="table table-bordered table-striped">
			<thead>   
             <tr>
                    <th>Usuario</th>
                    <th>Empresa</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Estado</th>
                    <th></th>
            </tr>
            </thead> 
            <!-- The table is built using the AngularJS repeat function, iterating over the members variable, and ordering by the property specified in the orderBy variable -->
            <tr ng-repeat="usuarios in showCase.usuario">
                <td>{{usuarios.usr}}</td>
                <td>{{usuarios.ctg_empresa[0].descripcion}}</td>
                <td>{{usuarios.nombre}}</td>
                <td>{{usuarios.apellido}}</td>
                <td align="center">
					<label ng-if=" usuarios.estado=='A'"><font color="green"><i class="fa fa-check"></i></font></label>
					<label ng-if=" usuarios.estado=='I'"><font color="red"><i class="fa fa-close"></i></font></label>
				</td>
                <td>
            	<button class="btn btn-danger btn-xs"  ng-click="showCase.deleteUsuario(usuarios.usr, usuarios.id_empresa)"><i class="fa fa-trash-o"></i></button>
                <button class="btn btn-warning btn-xs" ng-click="showCase.editUsuario(usuarios.usr, usuarios.id_empresa)"><i class="fa fa-edit"></i></button>
				<button class="btn btn-primary btn-xs" ng-click="showCase.activateUsuario(usuarios.usr, usuarios.id_empresa)"><i class="fa fa-check"></i></button>
                </td>
             </tr>
        </table>
    </div>
    <div class="box-footer">
    	<a class="btn btn-danger pull-left" ui-sref="menuMaster.home">Salir</a>
    	<a ui-sref="menuMaster.addUsuario" class="btn btn-info pull-right">Nuevo</a>
    </div>
</div>