        <fieldset>
            <div ng-show="isNew(formType)">
          		<legend>Ingrese una nueva Opci&oacute;n Principal</legend>
        	</div>
        	
        	<div ng-show="!isNew(formType)">
          		<legend>Modificaci&oacute;n de la Opci&oacute;n Principal</legend>
        	</div>
        	
        	<div class="form-group">
        		<input type="hidden" name="formType" id="formType"  ng-model="formType" />
        		<input type="hidden" name="id" id="id"  ng-model="newOpcionPrincipal.id" />
        	</div>
        	
            <!-- Each input is bound to a property on the prototype newMember object -->
            <div class="form-group" ng-class="{ 'has-error': regForm.descripcion.$error.required }">
                <label for="descripcion" class="col-md-2 control-label">Descripci&oacute;n:</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="descripcion" id="descripcion" 
					 ng-model="newOpcionPrincipal.descripcion" placeholder="Nombre de la Opci&oacute;n Principal" required autofocus/>
                    <span class="error help-block" ng-show="regForm.descripcion.$error.required">Requerido</span>
                    <span class="error help-block" ng-show="errors.descripcion">{{errors.descripcion}}</span>
                </div>
				
			</div>
			
            <div class="form-group" ng-class="{ 'has-error': regForm.menu_icon.$error.required }">
                <label for="menu_icon" class="col-sm-2 control-label">Icono Menu:</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="menu_icon" id="menu_icon"  ng-model="newOpcionPrincipal.menu_icon" placeholder="Nombre del icono" required autofocus/>
                    <span class="error help-block" ng-show="regForm.menu_icon.$error.required">Requerido</span>
                    <span class="error help-block" ng-show="errors.menu_icon">{{errors.menu_icon}}</span>
                </div>
            
                <label for="orden" class="col-sm-2 control-label">Orden:</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="orden" id="orden"  ng-model="newOpcionPrincipal.orden" placeholder="Orden del Menu" required autofocus/>
                    <span class="error help-block" ng-show="regForm.menu_icon.$error.required">Requerido</span>
                    <span class="error help-block" ng-show="errors.menu_icon">{{errors.menu_icon}}</span>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': regForm.estado.$error.required }">
				<label for="acceso_directo" class="col-sm-2 control-label">Acceso Directo:</label>
				<div class="col-md-3">
					<!--*select class="form-control" name="acceso_directo" id="acceso_directo" ng-model="newOpcionPrincipal.acceso_directo" >
						<option value="1">S&iacute;</option>
						<option value="0">No</option>
					</select -->
					<label class="switch">
						<input type="checkbox" name="acceso_directo" id="acceso_directo" ng-model="newOpcionPrincipal.acceso_directo">
						<div class="slider round">
							<span class="on">S&iacute;</span>
							<span class="off">No</span>
						</div>
					</label>
				</div>
				
				<label for="estado" class="col-sm-2 control-label">Estado:</label>
				<div class="col-sm-3">
					<label class="switch">
						<input type="checkbox" name="estado" id="estado" ng-model="newOpcionPrincipal.estado">
						<div class="slider round">
							<span class="on">Activo</span>
							<span class="off">Inactivo</span>
						</div>
					</label>
				  	<span class="error help-block" ng-show="regForm.estado.$error.required">Requerido</span>
                    <span class="error help-block" ng-show="errors.estado">{{errors.estado}}</span>
			    </div>
            </div>
            
            <!-- We output a list of success messages (appropriately styled!) for the form.
            <ul ng-hide="!successMessages" class="success">
                <li ng-repeat="message in successMessages">{{message}}</li>
            </ul> -->

            <!-- Output the list of error messages if any. 
            <ul ng-hide="!errorMessages" class="error">
                <li ng-repeat="message in errorMessages">{{message}}</li>
            </ul>-->
            
            
              <div class="modal fade modal-primary" id="notificacionesModal"
				tabindex="-1" role="dialog">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title">Notificaciones</h4>
						</div>
						<div class="modal-body">
						
				            <!-- We output a list of success messages (appropriately styled!) for the form. -->
				            <ul ng-hide="!successMessages" class="success">
				                <li ng-repeat="message in successMessages">{{message}}</li>
				            </ul>
				
				            <!-- Output the list of error messages if any. -->
				            <ul ng-hide="!errorMessages" class="error">
				                <li ng-repeat="message in errorMessages">{{message}}</li>
				            </ul>
						
						</div>
						<div class="modal-footer">
		
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div> 
            

        </fieldset>
