<fieldset>

	<div class="modal fade modal-primary" id="notificacionesModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Notificaciones</h4>
				</div>
				<div class="modal-body">

					<!-- We output a list of success messages (appropriately styled!) for the form. -->
					<ul ng-hide="!successMessages" class="success">
						<li ng-repeat="message in successMessages">{{message}}</li>
					</ul>

					<!-- Output the list of error messages if any. -->
					<ul ng-hide="!errorMessages" class="error">
						<li ng-repeat="message in errorMessages">{{message}}</li>
					</ul>

				</div>
				<div class="modal-footer">

				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<form name="regForm" class="form-horizontal" ng-submit="registerMasc(formType)">
		<div ng-show="isNew(formType)">
			<legend>Ingrese una nueva mascota</legend>
		</div>

		<div ng-show="!isNew(formType)">
			<legend>Modificaci&oacute;n de la mascota</legend>
		</div>

		<div class="form-group">
			<input type="hidden" name="formType" id="formType" ng-model="formType" />
		</div>

		<div class="box box-default box-solid">
			<div class="box-header with-border">
				<h3 class="box-title">Mascotas</h3>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
				</div>
				<!-- /.box-tools -->
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<!--///////////////////////////////////////////////////////////////////////////////////-->
				<!--///////////////////////////////////////////////////////////////////////////////////-->
				<!--///////////////////////////////////////////////////////////////////////////////////-->
				<!--///////////////////////////////////////////////////////////////////////////////////-->

				<div class="form-group" ng-class="{ 'has-error': regForm.dueno.$error.required }">
					<label for="dueno" class="col-sm-2 control-label">Usuario del dueño:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="dueno" id="dueno" ng-model="newMasc.dueno"
							placeholder="Encargado" required autocomplete="nope" />
						<span class="error help-block" ng-show="regForm.dueno.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.dueno">{{errors.dueno}}</span>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': regForm.tpmascota.$error.required }">
					<label for="tpmascota" class="col-sm-2 control-label">Tipo de mascota:</label>
					<div class="col-sm-2">
						<ui-select ng-model="newMasc.tpmascota" name="tpmascota" id="tpmascota" ng-required="true">
							<ui-select-match allow-clear="true">
								<span ng-bind="$select.selected.nombre"></span>
							</ui-select-match>
							<ui-select-choices repeat="tpmasc.id.id as tpmasc in (tpmasc| propsFilter: {nombre: $select.search})
								 track by tpmasc.id.id">
								<div ng-bind-html="tpmasc.nombre | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
						<span class="error help-block" ng-show="regForm.tpmasc.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.tpmasc">{{errors.empleado}}</span>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': regForm.nmasc.$error.required }">
					<label for="nmasc" class="col-sm-2 control-label">Nombre mascota:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="nmasc" id="nmasc" ng-model="newMasc.nmasc"
							placeholder="Nombre de la mascota" required autocomplete="nope" />
						<span class="error help-block" ng-show="regForm.nmasc.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.nmasc">{{errors.nmasc}}</span>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': regForm.apellido.$error.required }">
					<label for="codigo" class="col-sm-1 control-label">Codigo de la mascota:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="codigo" id="codigo" ng-model="newMasc.codigo"
							placeholder="Codigo" required autocomplete="nope" />
						<span class="error help-block" ng-show="regForm.codigo.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.codigo">{{errors.apellido}}</span>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': regForm.depto.$error.required }">
					<label for="depto" class="col-sm-2 control-label">Departamento:</label>
					<div class="col-sm-2">
						<ui-select ng-model="newMasc.depto" name="depto" id="depto" ng-required="true"
							ng-change="loadMunis()">
							<ui-select-match allow-clear="true">
								<span ng-bind="$select.selected.descripcion"></span>
							</ui-select-match>
							<ui-select-choices
								repeat="dept.id.id as dept in (dept | propsFilter: {descripcion: $select.search}) track by dept.id.id">
								<div ng-bind-html="dept.descripcion | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
						<span class="error help-block" ng-show="regForm.id.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.id">{{errors.id}}</span>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': regForm.muni.$error.required }">
					<label for="empleado" class="col-sm-2 control-label">Municipio:</label>
					<div class="col-sm-2">
						<ui-select ng-model="newMasc.id_empleado" name="empleado" id="empleado" ng-required="true">
							<ui-select-match allow-clear="true">
								<span ng-bind="$select.selected.nombre"></span>
							</ui-select-match>
							<ui-select-choices
								repeat="empleado.id.id as empleado in (empleado | propsFilter: {nombre: $select.search}) track by empleado.id.id">
								<div ng-bind-html="empleado.nombre | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
						<span class="error help-block" ng-show="regForm.empleado.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.empleado">{{errors.empleado}}</span>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': regForm.usr.$error.required }">
					<label for="usr" class="col-sm-2 control-label">Direccion:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="usr" id="usr" ng-model="newUsuario.usr"
							placeholder="Direccion" required autocomplete="nope" />
						<span class="error help-block" ng-show="regForm.usr.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.usr">{{errors.usr}}</span>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': regForm.estadodir.$error.required }">
					<label for="estadodir" class="col-sm-2 control-label">Estado de la direccion:</label>
					<div class="col-sm-2">
						<label class="switch">
							<input type="checkbox" name="estadodir" id="estadodir" ng-model="newMasc.estadodir">
							<div class="slider round">
								<span class="on">Activo</span>
								<span class="off">Inactivo</span>
							</div>
						</label>
						<span class="error help-block" ng-show="regForm.estadodir.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.estadodir">{{errors.estadodir}}</span>
					</div>
				</div>


				<div class="form-group" ng-class="{ 'has-error': regForm.nacim.$error.required }">
					<label for="nacim" class="col-sm-1 control-label">Fecha de Nacimiento:</label>
					<div class="col-sm-4">
						<input type="date" class="form-control" name="nacim" id="nacim" ng-model="newMasc.nacim"
							required />
						<span class="error help-block" ng-show="regForm.nacim.$error.required">Requerido</span>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': regForm.foto.$error.required }">
					<label for="foto" class="col-sm-1 control-label">Foto de la mascota:</label>
					<div class="col-sm-4">
						<input type="file" name="foto" id="foto" accept="image/*" ng-model="newMasc.foto" required />
						<span class="error help-block" ng-show="regForm.foto.$error.required">Requerido</span>
					</div>
				</div>


				<div class="form-group" ng-class="{ 'has-error': regForm.estado.$error.required }">
					<label for="estado" class="col-sm-2 control-label">Estado:</label>
					<div class="col-sm-2">
						<label class="switch">
							<input type="checkbox" name="estado" id="estado" ng-model="newMasc.estado">
							<div class="slider round">
								<span class="on">Activo</span>
								<span class="off">Inactivo</span>
							</div>
						</label>
						<span class="error help-block" ng-show="regForm.estado.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.estado">{{errors.estado}}</span>
					</div>
				</div>

			</div>
			<div class="box-footer">
				<input type="submit" ng-disabled="regForm.$invalid" id="guardar" value="Guardar"
					class="btn btn-primary pull-right" />
			</div>

		</div>

	</form>

	<div id="vacunasMasc" ng-show="isVisibleAfterUsuario" class="box box-default collapsed-box box-solid">
		<div class="box-header with-border">
			<h3 class="box-title">Vacunas por mascota</h3>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
				</button>
			</div>
		</div>
		<!-- /.box-header -->
		<div class="box-body" ng-controller="VacunaCtrl">
			<div ng-include="'partials/prc/prc_mascotas/formVac.html'"></div>
		</div>
		<!-- /.box-body -->
	</div>

</fieldset>