<fieldset>

	<div class="modal fade modal-primary" id="notificacionesModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Notificaciones</h4>
				</div>
				<div class="modal-body">

					<!-- We output a list of success messages (appropriately styled!) for the form. -->
					<ul ng-hide="!successMessages" class="success">
						<li ng-repeat="message in successMessages">{{message}}</li>
					</ul>

					<!-- Output the list of error messages if any. -->
					<ul ng-hide="!errorMessages" class="error">
						<li ng-repeat="message in errorMessages">{{message}}</li>
					</ul>

				</div>
				<div class="modal-footer">

				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<form name="regForm" class="form-horizontal" ng-submit="registerMasc(formType)">
		<div ng-show="isNew(formType)">
			<legend>Ingrese una nueva mascota</legend>
		</div>

		<div ng-show="!isNew(formType)">
			<legend>Modificaci&oacute;n de la mascota</legend>
		</div>

		<div class="form-group">
			<input type="hidden" name="formType" id="formType" ng-model="formType" />
		</div>

		<div class="box box-default box-solid">
			<div class="box-header with-border">
				<h3 class="box-title">Mascotas</h3>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
				</div>
				<!-- /.box-tools -->
			</div>
			<!-- /.box-header -->
			<div class="box-body">

				<div class="form-group" ng-class="{ 'has-error': regForm.dueno.$error.required }">
					<label for="dueno" class="col-sm-2 control-label">Usuario del dueño:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="dueno" id="dueno" ng-model="newMasc.dueno"
							placeholder="Encargado" required autocomplete="nope" />
						<span class="error help-block" ng-show="regForm.dueno.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.dueno">{{errors.dueno}}</span>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': regForm.idtpmasc.$error.required }">
					<label for="idtpmasc" class="col-sm-2 control-label">Tipo de mascota:</label>
					<div class="col-sm-2">
						<ui-select ng-model="newMasc.idtpmasc" name="idtpmasc" id="idtpmasc" ng-required="true">
							<ui-select-match allow-clear="true">
								<span ng-bind="$select.selected.descripcion"></span>
							</ui-select-match>
							<ui-select-choices repeat="ltpmasc.id as ltpmasc in 
							(ltpmasc| propsFilter: {descripcion: $select.search})
								 track by ltpmasc.id">
								<div ng-bind-html="ltpmasc.descripcion | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
						<span class="error help-block" ng-show="regForm.idtpmasc.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.idtpmasc">{{errors.empleado}}</span>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': regForm.nmasc.$error.required }">
					<label for="nmasc" class="col-sm-2 control-label">Nombre mascota:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="nmasc" id="nmasc" ng-model="newMasc.nmasc"
							placeholder="Nombre de la mascota" required autocomplete="nope" />
						<span class="error help-block" ng-show="regForm.nmasc.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.nmasc">{{errors.nmasc}}</span>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': regForm.apellido.$error.required }">
					<label for="codigo" class="col-sm-2 control-label">Codigo de la mascota:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="codigo" id="codigo" ng-model="newMasc.codigo"
							placeholder="Codigo" required autocomplete="nope" />
						<span class="error help-block" ng-show="regForm.codigo.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.codigo">{{errors.apellido}}</span>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': regForm.iddepto.$error.required }">
					<label for="iddepto" class="col-sm-2 control-label">Departamento:</label>
					<div class="col-sm-3">
						<ui-select ng-model="newMasc.iddepto" name="iddepto" id="iddepto" ng-required="true"
							ng-change="loadMunis()">
							<ui-select-match allow-clear="true">
								<span ng-bind="$select.selected.descripcion"></span>
							</ui-select-match>
							<ui-select-choices repeat="dept.id as dept in 
								(dept | propsFilter: {descripcion: $select.search}) track by dept.id">
								<div ng-bind-html="dept.descripcion | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
						<span class="error help-block" ng-show="regForm.iddepto.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.iddepto">{{errors.iddepto}}</span>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': regForm.idmuni.$error.required }">
					<label for="idmuni" class="col-sm-2 control-label">Municipio:</label>
					<div class="col-sm-3">
						<ui-select ng-model="newMasc.idmuni" name="idmuni" id="idmuni" ng-required="true">
							<ui-select-match allow-clear="true">
								<span ng-bind="$select.selected.descripcion"></span>
							</ui-select-match>
							<ui-select-choices repeat="muni.id.id as muni in 
								(muni | propsFilter: {descripcion: $select.search}) track by muni.id.id">
								<div ng-bind-html="muni.descripcion | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
						<span class="error help-block" ng-show="regForm.idmuni.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.idmuni">{{errors.idmuni}}</span>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': regForm.direccion.$error.required }">
					<label for="direccion" class="col-sm-2 control-label">Direccion:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="direccion" id="direccion"
							ng-model="newMasc.direccion" placeholder="Direccion" required autocomplete="nope" />
						<span class="error help-block" ng-show="regForm.direccion.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.direccion">{{errors.direccion}}</span>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': regForm.estadodir.$error.required }">
					<label for="estadodir" class="col-sm-2 control-label">Estado de la direccion:</label>
					<div class="col-sm-2">
						<label class="switch">
							<input type="checkbox" name="estadodir" id="estadodir" ng-model="newMasc.estadodir">
							<div class="slider round">
								<span class="on">Activo</span>
								<span class="off">Inactivo</span>
							</div>
						</label>
						<span class="error help-block" ng-show="regForm.estadodir.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.estadodir">{{errors.estadodir}}</span>
					</div>
				</div>


				<div class="form-group" ng-class="{ 'has-error': regForm.nacim.$error.required }">
					<label for="nacim" class="col-sm-2 control-label">Fecha de Nacimiento:</label>
					<div class="col-sm-4">
						<input type="date" class="form-control" name="nacim" id="nacim" ng-model="newMasc.nacim"
							required max="{{ getMaxDate() }}" />
						<span class="error help-block" ng-show="regForm.nacim.$error.required">Requerido</span>
					</div>
				</div>

				<div class="form-group" >
					<label for="foto" class="col-sm-2 control-label">Foto de la mascota:</label>
					<div class="col-sm-4">
						<input type="file" id="fileInput" ng-model="newMasc.foto"
							onchange="angular.element(this).scope().loadImage(this)" >
					</div>
				</div>
				<div class="form-group">
					<img ng-src="{{newMasc.foto }}" class="avatar rounded lg" height="300px" width="400px" alt=" " />
					<img ng-src="data:image/jpeg;base64,{{ newMasc.foto }}" class="avatar rounded lg" height="300px"
						width="400px" alt=" ">
				</div>


				<div class="form-group" ng-class="{ 'has-error': regForm.estado.$error.required }">
					<label for="estado" class="col-sm-2 control-label">Estado:</label>
					<div class="col-sm-2">
						<label class="switch">
							<input type="checkbox" name="estado" id="estado" ng-model="newMasc.estado">
							<div class="slider round">
								<span class="on">Activo</span>
								<span class="off">Inactivo</span>
							</div>
						</label>
						<span class="error help-block" ng-show="regForm.estado.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.estado">{{errors.estado}}</span>
					</div>
				</div>


			</div>
			<div class="box-footer">
				<input type="submit" ng-disabled="regForm.$invalid" id="guardar" value="Guardar"
					class="btn btn-primary pull-right" />
			</div>

		</div>

	</form>

	<div id="vacunasMasc" ng-show="isVisibleAfterUsuario" class="box box-default collapsed-box box-solid">
		<div class="box-header with-border">
			<h3 class="box-title">Vacunas por mascota</h3>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
				</button>
			</div>
		</div>
		<div class="box-body" ng-controller="VacunaCtrl">
			<div ng-include="'partials/prc/prc_mascotas/formVac.html'"></div>
		</div>
	</div>


</fieldset>