<input type="button" ng-click="resetVac()" name="resetVac" id="resetVac" value="Nueva vacuna" class="btn btn-primary"
	data-toggle="modal" data-target="#myVacModal" />
<em ng-show="vacmasc.length == 0">No existen datos de vacunas</em>

<div class="box-body no-padding">
	<table datatable="ng" ng-hide="vacmasc.length == 0" class="table table-bordered">
		<thead>
			<tr>
				<th>Vacuna</th>
				<th>Fecha</th>
			</tr>
		</thead>
		<!-- The table is built using the AngularJS repeat function, iterating over the members variable, and ordering by the property specified in the orderBy variable -->
		<tbody>
			<tr ng-repeat="vacmasc in vacmasc">
				<td>{{vacmasc.nombrevacuna}}</td>
				<td>{{vacmasc.fecha_creacion}}</td>
				<td>
					<button class="btn btn-danger btn-xs" ng-click="deleteVac(vacmasc.id_vacuna)">
						<i class="fa fa-trash-o"></i></button>
					<!--   <button class="btn btn-warning btn-xs" ng-click="modifyRol(rolusr.id.usr, rolusr.id.rol)"><i class="fa fa-edit"></i></button>  -->
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="modal fade modal-primary" id="myVacModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<form name="vacForm" class="form-horizontal" ng-submit="guardarVac(formTypeVac)">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Ingrese un nueva vacuna</h4>
				</div>
				<div class="modal-body">

					<div class="form-group">
						<input type="hidden" name="formTypeRol" id="formTypeRol" ng-model="formTypeVac" />
						<input type="hidden" name="" id="usrRol" ng-model="rol.usr" />
					</div>

					<div class="form-group" ng-class="{ 'has-error': rolForm.rol.$error.required }">
						<label for="rol" class="col-sm-2 control-label">Rol:</label>
						<div class="col-sm-4">
							<ui-select ng-model="rol.rol" id="rol" name="rol" ng-required="true" autofocus>
								<ui-select-match>
									<span ng-bind="$select.selected.descripcion"></span>
								</ui-select-match>
								<ui-select-choices
									repeat="ro in (roles | propsFilter: {descripcion: $select.search}) track by ro.id">
									<div ng-bind-html="ro.descripcion | highlight: $select.search"></div>
								</ui-select-choices>
								<span class="error help-block" ng-show="rolForm.rol.$error.required">Requerido</span>
								<span class="error help-block" ng-show="errors.rol">{{errors.rol}}</span>
							</ui-select>
						</div>
					</div>

					<!-- We output a list of success messages (appropriately styled!) for the form. -->
					<ul ng-hide="!successMessagesChild" class="success">
						<li ng-repeat="message in successMessagesChild">{{message}}</li>
					</ul>

					<!-- Output the list of error messages if any. -->
					<ul ng-hide="!errorMessagesChild" class="error">
						<li ng-repeat="message in errorMessagesChild">{{message}}</li>
					</ul>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cerrar</button>
					<input type="submit" ng-disabled="rolForm.$invalid" id="guardarRol" value="Guardar cambios"
						class="btn btn-primary pull-right" />
					<!--  <input type="button" ng-click="resetRol()" name="resetRol" id="resetRol" value="Nuevo Rol" class="btn btn-default" />-->
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->