<fieldset style="background-image: url('/aplicacion/img/kraken1.png');">
	
	<form name="regForm" class=" login-box form-horizontal col-md-8 col-md-offset-2 " ng-submit="registerUsuario(formType)">

		<div class="form-group">
			<input type="hidden" name="formType" id="formType" ng-model="formType" />
		</div>

		<div class=" box-default ">
			<div class="box-header ">
				<h3 class="text-center">Registro principal</h3>
				<!-- /.box-tools -->
			</div>
			<!-- /.box-header -->
			<div class="box-body">

				<div class="form-group" ng-class="{ 'has-error': regForm.nombre.$error.required }">


					<label for="nombre" class="col-sm-2 control-label">Nombre:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="nombre" id="nombre" ng-model="newUsuario.nombre"
							placeholder="Nombre del Usuario" required autocomplete="nope" />
						<span class="error help-block" ng-show="regForm.nombre.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.nombre">{{errors.nombre}}</span>
					</div>


					<!--  <div class="form-group" ng-class="{ 'has-error': regForm.apellido.$error.required }">-->
					<label for="apellido" class="col-sm-1 control-label">Apellido:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="apellido" id="apellido"
							ng-model="newUsuario.apellido" placeholder="Apellido del Usuario" required
							autocomplete="nope" />
						<span class="error help-block" ng-show="regForm.apellido.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.apellido">{{errors.apellido}}</span>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': regForm.usr.$error.required }">
					<label for="usr" class="col-sm-2 control-label">Usuario:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="usr" id="usr" ng-model="newUsuario.usr"
							placeholder="Usuario" required autocomplete="nope" />
						<span class="error help-block" ng-show="regForm.usr.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.usr">{{errors.usr}}</span>
					</div>

					<!-- <div class="form-group" ng-class="{ 'has-error': regForm.clave.$error.required }">-->
					<label for="clave" class="col-sm-1 control-label">Contrase&ntilde;a:</label>
					<div class="col-sm-2">
						<input type="password" class="form-control" name="clave" id="clave" autocomplete="new-password"
							ng-model="newUsuario.clave" placeholder="Contrase&ntilde;a del usuario" required />
						<span class="error help-block" ng-show="regForm.clave.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.clave">{{errors.clave}}</span>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': regForm.email.$error.required }">
					<label for="email" class="col-sm-2 control-label">Correo Electronico:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="email" id="email" ng-model="newUsuario.email"
							placeholder="Correo electr&oacute;nico del usuario" autocomplete="nope" required/>
						<span class="error help-block" ng-show="regForm.email.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.email">{{errors.email}}</span>
					</div>

					<label for="email" class="col-sm-1 control-label">Tel&eacute;fono:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="tel" id="tel" ng-model="newUsuario.tel"
							placeholder="Tel&eacute;fono del usuario" autocomplete="nope" required/>
						<span class="error help-block" ng-show="regForm.tel.$error.required">Requerido</span>
						<span class="error help-block" ng-show="errors.tel">{{errors.tel}}</span>
					</div>
					
				</div>
				

			</div>
			<div class="box-footer">
				<input type="submit" ng-disabled="regForm.$invalid" id="guardar" value="Guardar"
					class="btn btn-primary pull-right" />
			</div>

		</div>

	</form>

	

</fieldset>